/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 8, 2016, 
    Author     : Riku Kuusisto
*/

body {
        /*background-image: url("../images/bottom.png");
        background-repeat: no-repeat;
        background-attachment: fixed;      
        background-position: bottom;  
        */
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 10px;
        
} 



h1.default{
	color: #115d94;
}
h2.default{
	color: #115d94;
}